<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><link rel="stylesheet" type="text/css" href="/css/css01.css">
	<title>中央财经大学乐行积分管理系统</title>
	<link rel="stylesheet" type="text/css" href="/css/_sitegray_d.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.vsb.css" />
	


  </head>
  <body>
  
<div class="top">

<div class="w1040">

<div class="logo fl"><!--#begineditable name="LOGO" viewid="1391" tagname="LOGO" action="" layout="" contype="" stylesysid="" template="" tplstyle="" clone="0" istemp=""-->
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<img src="images/logo.png" /><!--#endeditable--></div>


<div class="menu fr"><!--#begineditable name="网站导航" viewid="1392" tagname="网站导航" action="" layout="" contype="" stylesysid="" template="" tplstyle="" clone="0" istemp=""--><ul>

  <li><a href="/loginTest" class="on">登录注册</a></li>

    
<li style="border-right:0"><a href="htm/test.htm">常见问题</a></li>


    
    </ul><!--#endeditable--></div></div></div>  
  
  <div class="height46"></div>

  
  
<div class="main">
    <div class="main_wkvpn fl" >
        <div class="vpn_txt fl">
            <div class="vpn_txtL fl"  ><img src="/images/ico2.png" />CUFE&nbsp;乐行</div>
            <div class="vpn_txtR fr"><img src="/images/dian.png" /><!--#begineditable name="网康说明" viewid="190896" tagname="网康说明" action="" layout="" contype="" stylesysid="" template="" tplstyle="" clone="" istemp=""--><script language="javascript" src="/system/resource/js/news/mp4video.js"></script>
对全校教职工开放<!--#endeditable--></div>
        </div>
        <div class="main_wkvpnB fl"  style="background:#FFFFFF">
		
            <div class="main_wkvpnB_l fl">
                <span> 积分管理内容</span>
                <!--#begineditable name="学院南路校区" viewid="190897" tagname="学院南路校区" action="" layout="" contype="" stylesysid="" template="" tplstyle="" clone="" istemp=""-->
<ul> 
 <li> <img border="0" src="/images/97C5DE2D9205052628BF02798F4_74FD11D4_505.jpg" orisrc="/__local/A/CE/87/97C5DE2D9205052628BF02798F4_74FD11D4_505.jpg" width="10" height="13" class="img_vsb_content" />行走积分 （将手机端运动步数换算成行走积分）<br /> </li> 
  <li> <img border="0" src="/images/97C5DE2D9205052628BF02798F4_74FD11D4_505.jpg" orisrc="/__local/A/CE/87/97C5DE2D9205052628BF02798F4_74FD11D4_505.jpg" width="10" height="13" class="img_vsb_content" />环保积分 （将个人垃圾分类回收的数量换算成环保积分）<br /> </li> 
  <li> <img border="0" src="/images/97C5DE2D9205052628BF02798F4_74FD11D4_505.jpg" orisrc="/__local/A/CE/87/97C5DE2D9205052628BF02798F4_74FD11D4_505.jpg" width="10" height="13" class="img_vsb_content" />公益积分 （将参与志愿的情况换算成公益积分）<br /> </li> 

 </ul><!--#endeditable-->
            </div>
			
            <div class="main_wkvpnB_r fl">
                <span>积分管理办法</span>
               <!--#begineditable name="沙河校区" viewid="190898" tagname="沙河校区" action="" layout="" contype="" stylesysid="" template="" tplstyle="" clone="" istemp=""-->
<ul> 
 <li> <img border="0" src="/images/97C5DE2D9205052628BF02798F4_74FD11D4_505.jpg" orisrc="/__local/A/CE/87/97C5DE2D9205052628BF02798F4_74FD11D4_505.jpg" width="10" height="13" class="img_vsb_content" />积分可以兑换不同商品、进行交易赠送<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(更多功能请见使用说明) </li> 
 <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <img border="0" src="/images/4FB60B12A6F0FCD52C47E51E7A6_54D87612_5DDA.png" orisrc="/__local/7/EB/D4/4FB60B12A6F0FCD52C47E51E7A6_54D87612_5DDA.png" width="14" height="16" class="img_vsb_content" /><a href="htm/test2.htm"">乐行积分使用说明</a> </li> 
</ul><!--#endeditable-->
            </div>
			
        </div>
    </div>


	<div class="xxsm fl" ><!--#begineditable name="网康底部" viewid="190899" tagname="网康底部" action="" layout="" contype="" stylesysid="" template="" tplstyle="" clone="" istemp=""-->
<p>乐行积分管理系统，一款基于以太坊的校园应用</p>  <p>旨在提高校园生活品质 &nbsp;ღ&nbsp; 心灵环保，生活环保，快乐行动&nbsp;ღ</p><!--#endeditable-->




</div>  
  <div class="footer" >
  
  Lulinglingcufe &copy; 2018

<a href="https://github.com/lulinglingcufe" style="margin-left: 10px; color: #3385ff ">Find Me in GitHub</a>

</div>
	
  
  
  
 </div>
 
  
  
  
  
  
  
  
  
  
  

  
  
  
  
  
  

		
	

	
	
	

	
	
	
  </body>
</html>
