<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>积分管理系统</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body  style="background-color:#F5F5F5">

    <header id="header" style="height: 65px;">
      <div class="container">
        <div class="header">
          <div>
			<a href="/admin"><button class="btn btn-success">返回</button></a>
          </div>
		 
		 <div>
			<a>&nbsp;&nbsp;&nbsp;&nbsp;</a>	
         </div>
		  
		  <div>
			<a href="/logout"><button class="btn btn-danger">退出</button></a>	
          </div>
		  
		  <div class="title" >
            <h3><a href="/admin/adminAdd">admin 用户欢迎您！请添加收件人地址</a></h3>
          </div>
		  

		  <div>
			<a style="margin-left=30px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>	
         </div>
		  
		  
        </div>
      </div>
    </header>

	
    <section id="table">
      <div class="container">
        <form action="/pointRecordAdd" method="post">
          
		  <div class="form-group">
            <label >事件</label>
            <input type="text" name="envent" class="form-control" placeholder="事件">
          </div>
		  
		  <div class="form-group">
            <label >发放用户名</label>
            <input type="text" name="username" class="form-control" placeholder="发放用户名">
          </div>
		  
          <div class="form-group">
            <label >发放账户</label>
            <input name="useraccount" class="form-control"  rows="4" placeholder="发放账户"></textarea>
          </div>
		  
		   <div class="form-group">
            <label >单位</label>
            <input name="point_type" class="form-control"  placeholder="单位"></textarea>
          </div>
		  
		  <div class="form-group">
            <label >发放数量</label>
            <input name="prize" class="form-control" placeholder="发放数量"></textarea>
          </div>
		  
		  
		  
          <input type="hidden" name="send_adimin" value="admin">

          <input type="submit" name="" class="btn btn-info" value="保存">
        </form>
      </div>
    </section>
  </body>
</html>
