<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>关于登录VPN后无法下载知网的文章的一个可能-中央财经大学VPN</title><META Name="keywords" Content="中央财经大学VPN" />

<link rel="stylesheet" type="text/css" href="../../css/css01.css" />
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="../../_sitegray/_sitegray_d.css" />
<script language="javascript" src="../../_sitegray/_sitegray.js"></script>
<!-- CustomerNO:77656262657232307e7847545257574203050000 -->
<link rel="stylesheet" type="text/css" href="../../content.vsb.css" />
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1002,'/content.jsp',1081,1352984363)</script>
</head>

<body>
<div class="top">
    <div class="w1040">
        <div class="logo fl"><!--#begineditable name="LOGO" viewid="1391" tagname="LOGO" action="" layout="" contype="" stylesysid="" template="" tplstyle="" clone="" istemp="true"-->
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<img src="../../images/logo.png" width="405" height="84" /><!--#endeditable--></div>
        <div class="menu fr">
            <!--#begineditable name="网站导航" viewid="1392" tagname="网站导航" action="" layout="" contype="" stylesysid="" template="" tplstyle="" clone="" istemp="true"--><ul>

  <li><a href="../../index.htm">首页</a></li>

    
<li style="border-right:0"><a href="../../cjwt.htm" class="on">常见问题</a></li>


    
    </ul><!--#endeditable-->
        </div>
    </div>
</div>
<div class="mart45"></div>
<div class="main">
  <div class="newslist">
      <!--#begineditable name="当前位置" viewid="1407" tagname="当前位置" action="" layout="" contype="" stylesysid="" template="" tplstyle="" clone="" istemp="true"--><div class="dqwz">
  
                        <a href="../../index.htm">首页</a>
             > 
                <a href="../../cjwt.htm">常见问题</a>
             > 
                正文
</div><!--#endeditable-->
      <!--#begineditable name="文章内容" viewid="1406" tagname="文章内容" action="" layout="" contype="" stylesysid="" template="" tplstyle="" clone="" istemp="true"--><script language="javascript" src="/system/resource/js/dynclicks.js"></script><script language="javascript" src="../../_dwr/interface/NewsvoteDWR.js"></script><script language="javascript" src="../../_dwr/engine.js"></script><script language="javascript" src="/system/resource/js/news/newscontent.js"></script><script type="text/javascript">NewsvoteDWR.getNewsLinkUrl(1081,'1352984363','vsb',newsSkip);function newsSkip(data){if(data != ""){window.location.href = data;}}</script><script language="javascript" src="/system/resource/js/ajax.js"></script><form name="_newscontent_fromname">
<div class="container">
    <h1>关于登录VPN后无法下载知网的文章的一个可能</h1>
  
  




    <div id="vsb_content" class="context"><style _ue_org_tagname="style" style="display: none"><!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:宋体;
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:"\@宋体";
	panose-1:2 1 6 0 3 1 1 1 1 1;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman";}
h3
	{margin-top:13.0pt;
	margin-right:0cm;
	margin-bottom:13.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:173%;
	page-break-after:avoid;
	font-size:16.0pt;
	font-family:"Times New Roman";}
p.vpnico, li.vpnico, div.vpnico
	{margin-right:0cm;
	margin-left:0cm;
	font-size:12.0pt;
	font-family:宋体;}
 /* Page Definitions */
 @page Section1
	{size:595.3pt 841.9pt;
	margin:72.0pt 90.0pt 72.0pt 90.0pt;
	vsb_tmp:15.6pt;}
div.Section1
	{page:Section1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>
<div class="Section1" style="vsb_tmp: 21px">
 <h3><span style="font-family: 宋体">关于登录</span><span lang="EN-US">VPN</span><span style="font-family: 宋体">后无法下载知网的文章的一个可能</span></h3>
 <p class="MsoNormal"><span lang="EN-US"> </span>&nbsp; </p>
 <p class="MsoNormal" style="text-indent: 37px"><span style="font-family: 宋体;font-size: 19px">因为登录<span lang="EN-US">VPN</span>后为单一<span lang="EN-US">IP</span>代理（即登录所有人员对外访问为同一个<span lang="EN-US">IP</span>地址），而学校购买的期刊库为<span lang="EN-US">IP</span>地址登录，并有相应限制（例如知网仅允许<span lang="EN-US">50</span>个同一<span lang="EN-US">IP</span>地址的用户同时登录下载资源），而本次开放账号人员较多，可能出现同时登录下载人员超出限制无法登录下载。</span></p>
 <p class="MsoNormal" style="text-indent: 37px"><span style="font-family: 宋体;font-size: 19px">出现无法下载的情况，请尝试更换下载时间。</span></p>
 <p class="MsoNormal"><span lang="EN-US"> </span>&nbsp; </p>
</div></div><div id="div_vote_id"></div>



    



</div>
</form><!--#endeditable-->
         
  </div>
</div>
<!--#begineditable name="版权" viewid="1400" tagname="版权" action="" layout="" contype="" stylesysid="" template="" tplstyle="" clone="" istemp="true"--><!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<div class="footer">中央财经大学版权所有</div><!--#endeditable-->
</body>
</html>
